@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap");
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #D2691E;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}
footer h2 {
  font-size: 95%;
  margin: 5px 10px 0 20px;
}
footer div {
  margin: 10px 0px;
}
footer a {
  display: inline-block;
  margin-right: 10px;
}
footer img {
  width: 25px;
  height: auto;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero img {
  height: 100%;
  width: 75%;
}

.destinos-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (max-width: 767px) {
  .destinos-container {
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .destinos-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .destinos-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.galeria .carousel-inner img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  transform: translateX(-10%);
  overflow: hidden;
}

.galeria .carousel-control-prev,
.galeria .carousel-control-next {
  width: 5%;
}

.galeria .carousel-control-prev-icon,
.galeria .carousel-control-next-icon {
  transform: translateY(-50%);
  top: 50%;
}

.galeria .carousel-control-prev {
  left: -3%;
}

.galeria .carousel-control-next {
  right: -3%;
}

.info {
  display: flex;
  flex-direction: column;
}
.info img {
  height: 100%;
  width: 75%;
}

.contact-form {
  width: 100%;
  height: 600px;
  border: 1px solid black;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form label {
  margin-bottom: 10px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .contact-form {
    height: auto;
    padding: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-form {
    height: 500px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 15px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contact-form {
    height: 600px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 20px;
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5DEB3;
}

.navbar-nav .nav-link:hover {
  color: #FFA500;
}

.navbar-toggler:hover {
  background-color: #FFA500;
}

main,
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
}

div {
  flex: 1;
  max-width: 400px;
  margin: 40px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 20px 0;
  color: #8B4513;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  font-size: 36px;
  margin: 0;
  color: #8B4513;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #8B4513;
}

main {
  min-height: calc(100vh - 200px);
  background-color: #F5DEB3;
}

section {
  margin-bottom: 40px;
}

/*# sourceMappingURL=styles.css.map */
