@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap');
@import "destinos";
@import "galeria";
@import "info";
@import "contact";
@import "footer";

$primary-color: #8B4513;
$secondary-color: #F5DEB3;
$highlight-color: #FFA500;
$navbar-toggler-hover-color: $highlight-color;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondary-color;
}

.navbar-nav .nav-link:hover {
    color: $highlight-color;
}

.navbar-toggler:hover {
    background-color: $navbar-toggler-hover-color;
}

main,
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
}

div {
    flex: 1;
    max-width: 400px;
    margin: 40px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
    color: $primary-color;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;

    @keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

h2 {
    font-size: 36px;
    margin: 0;
    color: $primary-color;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: $primary-color;
}

main {
    min-height: calc(100vh - 200px);
    background-color: $secondary-color;
}

section {
    margin-bottom: 40px;
}  